{% extends "sns/layout.html" %}

{% block title %}User{% endblock %}
{% block header %}
<h1 class="display-4 text-primary" style="margin-top: 50px;">USER</h1>

{% if messages %}
<div class="alert alert-primary alaert-dismissible fade show" role="alert">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'post' %}" method="post">
{% csrf_token %}
{{form.as_p}}
<button class="btn btn-primary">Post!</button>
</form>
<hr>

<table class="table mt-3">
    <tr><th>messages</th></tr>

{%for item in contents %}
<tr><td>
<p class="fs-4 my-0">{{item.content}}</p>
<p class="my-0 text-end">
<span class="fs-5"><a href="{% url 'find' item.owner.id %}">{{item.owner.username}}</a></span>
<span class="fs-6">"{{item.pub_date}}"</span></p>

<p class="mt-1 fs-6 text-end">
<span class="h6 text-primary">good={{item.good_count}}</span>
<span class="float-right">
    {% if item.owner != login_user %}
    <a href="{% url 'good' item.id %}">
    <button class="py-0 px-1 btn btn-outline-primary">good!</button></a>
    {% endif %}
</span>
</p>
</td></tr>
{% endfor %}
</table>

<ul class="pagination justify-content-center">

  {% if contents.has_previous %}
    <li class="page-item"><a class="page-link" href="/sns/find/{{id}}/">&laquo; first</a></li>
    <li class="page-item"><a class="page-link" href="/sns/find/{{id}}/{{contents.previous_page_number}}">&laquo; 前へ</a></li>
  {% else %}
    <li class="page-item"><a class="page-link">&laquo; first</a></li>
    <li class="page-item"><a class="page-link">&laquo; 前へ</a></li>
  {% endif %}


    <li class="page-item"><a class="page-link">{{contents.number}}/{{contents.paginator.num_pages}}</a></li>


  {% if contents.has_next %}
    <li class="page-item"><a class="page-link" href="/sns/find/{{id}}/{{contents.next_page_number}}">次へ &raquo;</a></li>
    <li class="page-item"><a class="page-link" href="/sns/find/{{id}}/{{contents.paginator.num_pages}}">last &raquo;</a></li>
  {% else %}
    <li class="page-item"><a class="page-link">次へ &raquo;</a></li>
    <li class="page-item"><a class="page-link">last &raquo;</a></li>
  {% endif %}
  </ul>
  {% endblock %}