{% extends "sns/layout.html" %}
{% block title %}Index{% endblock %}


{% block header %}
    <h1 class="display-4 text-primary" style="margin-top: 50px;">SNS</h1>
        {% if messages %}
            <div class="alert alert-primary alaert-dismissible fade show" role="alaert">
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
{% endblock %}



{% block content %}
      {% comment %} メッセージ投稿 {% endcomment %}
  <form id="form1" action="{% url 'post' %}" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-primary">Post!</button>
  </form>

  <table class="table mt-3">
    <tr><th>Messages</th></tr>
    <tr><td>
      {% comment %} 並び替え機能 {% endcomment %}
    <form id="form2" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{sortform.as_p}}
    <button class="btn btn-primary" name="sort_btn">並び替え</button>
    </form>
  </td></tr>

    {% comment %} 投稿メッセージ一覧 {% endcomment %}
    {%for item in contents %}
    <tr><td>
    <p class="fs-4 my-0">{{item.content}}</p>

    {% comment %} 投稿者名 絞り込みリンク{% endcomment %}
    <p class="my-0 text-end">
    <span class="fs-5"><a href="{% url 'find' item.owner.id %}">{{item.owner.username}}</a></span>
    {% comment %} 投稿日時 {% endcomment %}
    <span class="fs-6">"{{item.pub_date}}"</span></p>
    {% comment %} good数 {% endcomment %}
    <p class="mt-1 fs-6 text-end">
    <span class="h6 text-primary">good={{item.good_count}}</span>

        {% comment %} goodボタンの表示分岐 {% endcomment %}
        {% if item.owner != login_user %}
          <span class="float-right">
          <a href="{% url 'good' item.id %}">
          <button class="py-0 px-1 btn btn-outline-primary">good!</button></a>
          </span>
        {% endif %}
    </p>


    {% comment %} replyボタン{% endcomment %}
    <form action="{% url 'index' item.id %}" method="post">
    {% csrf_token %}
    {{ replyform.as_p }}
    <input type=hidden name="reply_id" value={{item.id}}>
    <button type="submit" name="reply_btn">返信</button>
    </form>
    </p>

    {% comment %} {% for i in item.replies.replied %}
    <p class="fs-4 my-0">{{i}}////</p>
    {% endfor %} {% endcomment %}
      <ul>
      {% for reply in item.replies.all %}
          <li>{{ reply.replied }}</li> <!-- Replyモデルのrepliedフィールドを表示 -->
      {% endfor %}
  </ul>
</p>

    </td></tr>
    {% endfor %}
  </table>



  <ul class="pagination justify-content-center">

  {% if contents.has_previous %}
    <li class="page-item"><a class="page-link" href="/sns/">&laquo; first</a></li>
    <li class="page-item"><a class="page-link" href="/sns/{{contents.previous_page_number}}">&laquo; 前へ</a></li>
  {% else %}
    <li class="page-item"><a class="page-link">&laquo; first</a></li>
    <li class="page-item"><a class="page-link">&laquo; 前へ</a></li>
  {% endif %}


    <li class="page-item"><a class="page-link">{{contents.number}}/{{contents.paginator.num_pages}}</a></li>


  {% if contents.has_next %}
    <li class="page-item"><a class="page-link" href="/sns/{{contents.next_page_number}}">次へ &raquo;</a></li>
    <li class="page-item"><a class="page-link" href="/sns/{{contents.paginator.num_pages}}">last &raquo;</a></li>
  {% else %}
    <li class="page-item"><a class="page-link">次へ &raquo;</a></li>
    <li class="page-item"><a class="page-link">last &raquo;</a></li>
  {% endif %}

  </ul>


{% endblock %}