{% extends 'sns/layout.html' %}

{% block title %}Post{% endblock %}

{% block header %}
<h1 class="display-4 text-primary">Post</h1>
<p  class="caption">※自分が投稿したメッセージ。</p>
{% endblock %}

{% block content %}
<table class="table mt-3">
  <tr><th>Messages</th></tr>
{% for item in contents %}
  <tr><td>
  <p class="fs-5 my-0">{{item.content}}</p>
  <p class="text-end my-0"> ({{item.pub_date}})</p>
  <p class="text-end my-0 text-info">good={{item.good_count}}</p>
  <p class="text-end my-0 text-info"><a href="{% url 'edit' item.id %}">編集</a></p>
  <p class="text-end my-0 text-info"><a href="{% url 'delete' item.id %}">削除</a></p>
  </td></tr>
{% endfor %}
</table>
{% endblock %}
